@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.BackgroundVolvic {
    background-size: cover;
    background-position: center;
    background-image: url("");
}

.BackgroundVolvicShape {
    background: radial-gradient(circle at 80% 50%, #0000 0%, oklch(var(--b1)) calc(80%))
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .25rem solid transparent;
}

.status-ring {
    position: relative;
}

@layer utilities {
  .status-ring::before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }

  /* Variants for different status states */
  .status-ring-online,
  .status-ring-online::before {
    background-color: oklch(var(--su));
  }

  .status-ring-offline,
  .status-ring-offline::before {
    background-color: oklch(var(--er));
  }

  .status-ring-busy,
  .status-ring-busy::before {
    background-color: oklch(var(--wa));
  }
}

.svg-filter-green {
  filter: brightness(0) saturate(100%) invert(45%) sepia(58%) saturate(5713%) hue-rotate(118deg) brightness(109%) contrast(69%);
}


/* TABLE */

/* ThreeJS */
.Bil {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.circle-loader {
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
}

@keyframes loader-spin {
  0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
  }
}

.loader {
  opacity: 1;
  transition: opacity .5s ease-out;
}

.loader.fade-out {
  opacity: 0;
}

select option {
  @apply bg-dark300;
}

.TabTrigger{
  @apply rounded-full py-2 w-full text-light200;
}

.TabTrigger[data-state="active"] {
  @apply bg-primary text-dark100;
}

.ActiveNav > div {
  @apply bg-primary text-dark100;
}